@import "../global/variables.css";

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  font-family: var(--button-text-font);
  font-weight: var(--button-text-weight);
  font-size: var(--button-text-size);
  text-transform: var(--button-text-transform);

  padding: 14px 0;
  width: 170px;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease;
  user-select: none;
}

button a {
  color: var(--button-text-color);
  text-decoration: none;
}

button:hover {
  background-color: var(--button-background-color-hover);
}

@media (max-width: 1400px) {
  button {
    font-size: 12px;
  }
}
