@import "../global/variables.css";
@import "../components/navbar.css";
@import "../components/footer.css";
@import "../components/hero2.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-background-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: var(--text-font-1);
}

header {
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}

.section-container {
  padding: 5% 20vw;
}

.title-global {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.title-global .title {
  color: var(--title-text-color);
  font-family: var(--text-font-2);
  font-size: 15px;
  font-weight: bold;
  position: relative;
  margin: 0;
}

.line {
  height: 3px;
  width: 70px;
  background-color: var(--underline-color);
  display: inline-block;
}

.project-section h2,
h3,
h4 {
  font-family: var(--text-font-2);
  color: var(--title-text-color);
  font-size: 36px;
  margin-bottom: 8px;
}

.project-section p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--light-text-color);
  font-family: var(--text-font-1);
  margin-bottom: 30px;
}

.carousel-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 33.33%;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  padding: 0 1.5%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
  user-select: none;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot-label {
  cursor: pointer;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--button-background-color-idle);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#water-1:checked ~ .dots label[for="water-1"] .dot,
#water-2:checked ~ .dots label[for="water-2"] .dot,
#water-3:checked ~ .dots label[for="water-3"] .dot,
#water-4:checked ~ .dots label[for="water-4"] .dot,
#mountain-1:checked ~ .dots label[for="mountain-1"] .dot,
#mountain-2:checked ~ .dots label[for="mountain-2"] .dot,
#mountain-3:checked ~ .dots label[for="mountain-3"] .dot,
#mountain-4:checked ~ .dots label[for="mountain-4"] .dot,
#camping-1:checked ~ .dots label[for="camping-1"] .dot,
#camping-2:checked ~ .dots label[for="camping-2"] .dot,
#camping-3:checked ~ .dots label[for="camping-3"] .dot,
#camping-4:checked ~ .dots label[for="camping-4"] .dot {
  background-color: var(--button-background-color);
}

#water-1:checked ~ .carousel {
  transform: translateX(0);
}
#water-2:checked ~ .carousel {
  transform: translateX(-33.33%);
}
#water-3:checked ~ .carousel {
  transform: translateX(-66.66%);
}
#water-4:checked ~ .carousel {
  transform: translateX(-99.99%);
}

#mountain-1:checked ~ .carousel {
  transform: translateX(0);
}
#mountain-2:checked ~ .carousel {
  transform: translateX(-33.33%);
}
#mountain-3:checked ~ .carousel {
  transform: translateX(-66.66%);
}
#mountain-4:checked ~ .carousel {
  transform: translateX(-99.99%);
}

#camping-1:checked ~ .carousel {
  transform: translateX(0);
}
#camping-2:checked ~ .carousel {
  transform: translateX(-33.33%);
}
#camping-3:checked ~ .carousel {
  transform: translateX(-66.66%);
}
#camping-4:checked ~ .carousel {
  transform: translateX(-99.99%);
}

input[name="water-radio"],
input[name="mountain-radio"],
input[name="camping-radio"] {
  display: none;
}

@media (max-width: 1400px) {
  .dot {
    width: 20px;
    height: 20px;
  }

  .dots {
    gap: 18px;
  }
}

@media (max-width: 992px) {
  .section-container {
    font-family: var(--text-font-1);
    padding: 8% 20%;
  }

  .carousel-item {
    flex: 0 0 50%;
  }

  #water-2:checked ~ .carousel,
  #mountain-2:checked ~ .carousel,
  #camping-2:checked ~ .carousel {
    transform: translateX(-50%);
  }

  #water-3:checked ~ .carousel,
  #mountain-3:checked ~ .carousel,
  #camping-3:checked ~ .carousel {
    transform: translateX(-100%);
  }

  #water-4:checked ~ .carousel,
  #mountain-4:checked ~ .carousel,
  #camping-4:checked ~ .carousel {
    transform: translateX(-150%);
  }

  .dot {
    width: 25px;
    height: 25px;
  }

  .dots {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .title-global .title {
    font-size: 10px;
  }
  .project-section h2,
  h3,
  h4 {
    font-size: 24px;
  }

  .carousel-item {
    flex: 0 0 100%;
  }

  .carousel-item img {
    padding: 0 0;
  }

  #water-2:checked ~ .carousel,
  #mountain-2:checked ~ .carousel,
  #camping-2:checked ~ .carousel {
    transform: translateX(-100%);
  }

  #water-3:checked ~ .carousel,
  #mountain-3:checked ~ .carousel,
  #camping-3:checked ~ .carousel {
    transform: translateX(-200%);
  }

  #water-4:checked ~ .carousel,
  #mountain-4:checked ~ .carousel,
  #camping-4:checked ~ .carousel {
    transform: translateX(-300%);
  }
}
